   <div class="container">
    <%= form_tag products_path, method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
      placeholder: "Look for a product"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    <h1 style="margin:16px;">All Products</h1>
    <div class="product-wrapper">
      <div class="card-row">
        <% @products.each do |product | %>
        <div class="big-card"> <%= link_to "products/#{product.id}" do %>
          <div class="card-img">
           <img src="<%= cl_image_path product.photos.first.key %>">
          <!-- <%= cl_image_path product.photos.first.key %> -->
          </div>

          <div class="card-info">
           <h3> <%= product.name %></h3>

           <h4> <%= product.user.email %> </h4>
           <p class= "desc-text"> <%= truncate(product.description, length: 60) %></p>
           <p class="price" data-hover="Add to cart">Price: <%= product.price %> € </p>
              <% if policy(product).edit?  %>
            <p class= "btn btn-primary">
              <%= link_to 'Edit', edit_product_path(product) %>
                 <% end %>
<!-- if product.stock >= 0 than display -->
              <% if policy(product).destroy?  %>
              <p class= "btn btn-primary">
              <%= link_to 'Destroy', product, method: :delete, data: {confirm: 'Are you sure you want to delete your product?' }%>
              <% end %>
            </p>
         </div>
       </div>
       <% end %>
       <% end %>
     </div>
   </div>
 </div>
