<div class=wrapper>
  <div class="container mt-5"> <%= simple_form_for [ @product ] do |f| %>
    <%= f.input :name%>
    <%= f.input :description%>
    <%= f.input :category%>
    <%= f.input :unit%>
    <%= f.input :stock_info, label: "In stock"%>
    <%= f.input :price%>
    <%= f.input :photo%>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
