<div class=wrapper>
  <%=image_tag("carrothead.jpg", class: "top-bg") %>
<div class="container">

 <h1 style="margin-top: 16px;">Product Detail Page</h1>
 <div class="product-wrapper">
  <div class="gallery">

    <div class="thumb-row">

      <% @product.photos.each do |photo| %>
      <div class="column">
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      </div>
      <% end %>

<!--       <div class="column">
        <img src="https://images.unsplash.com/photo-1557800636-894a64c1696f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80" alt="Cherry">
      </div>
      <div class="column">
        <img src="https://images.unsplash.com/photo-1557800636-894a64c1696f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80" alt="Cherry" >
      </div>
      <div class="column">
        <img src="https://images.unsplash.com/photo-1557800636-894a64c1696f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80" alt="Cherry">
      </div>
      <div class="column">
        <img src="https://images.unsplash.com/photo-1557800636-894a64c1696f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80" alt="Cherry">
      </div> -->
    </div>

    <!-- The expanding image container -->
    <div class="gallery-big-img">
      <!-- Expanded image -->
      <img id="expandedImg" src="<%= cl_image_path @product.photos.first.key %>">
    </div>

  </div>
  <div class="card-info">
    <h3><%=@product.name%></h3>
    <h4><%= @product.user.email %></h4>
    <p class= "desc-text"><%= @product.description %></p>
    <p class= "desc-text">Recyclebale packaging will be prepared before pick up.</p>
    <p class="price">Price: <%= number_to_currency @product.price %></p>

    <p>Available Amount: <%= @product.stock_info%> </p>

    <div class="container">
      <h1>Add a new Order</h1>
      <div class="product-wrapper">

        <%= simple_form_for([@product, @order]) do |f| %>
        <p>Enter the quantity you want to add:</p>
        <%= f.input :quantity, input_html: { max: @product.stock_info } %>
        <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <button class="btn-main"><%= link_to "Leave a review", "/products/#{@product.id}/reviews/new" %></button>

  </div>
</div>
</div>
<h2 class=ml-5>Reviews:</h2>
 <ul class=ml-5 style="list-style: none">
 <% @product.reviews.each do |review| %>
  <li><h5> <%= "#{review.content}" %> </h5> </li>
  <%if review.product.buyers.include? review.user_id %>
    <p>Verified purchase</p>
  <%end%>
  <%end%>
</ul>


