
<script>
function myFunction(imgs) {
  var expandImg = document.getElementById("expandedImg");
  expandImg.src = imgs.src;
}
</script>

<div class=wrapper>
  <%=image_tag("carrothead.jpg", class: "top-bg") %>
  <div class="container" style="height: 150vh;">
   <h1 style="margin-top: 16px;">Product Detail Page</h1>
   <div class="product-wrapper">
    <div class="gallery">
      <div class="thumb-row">
      <% @product.photos.each do |photo| %>
      <div class="column">
      <img src='<%= cl_image_path photo.key, height: 300, width: 400, crop: :fill %>' onclick=myFunction(this)>
      </div>
      <% end %>
      </div>
      <div class="gallery-big-img">
        <img id="expandedImg" src="<%= cl_image_path @product.photos.first.key %>">
      </div>
    </div>
    <div class="card-info" style="text-align:left;">
      <h3><%=@product.name%></h3>
      <h4><%= @product.user.first_name %></h4>
      <p class= "desc-text" style="text-align:left;"><%= @product.description %></p>
      <p class= "desc-text" style="text-align:left;">Recyclebale packaging will be prepared before pick up.</p>
      <p class="price" style="text-align:left;">Price: <%= number_to_currency(@product.price, :unit => "€")%> </p>
      <p style="font-size: 14px; text-align:left;">Available Amount: <%= @product.stock_info%> </p>

        <div class="product-wrapper" style="text-align:left;">
          <%= simple_form_for([@product, @order]) do |f| %>
          <p class= "desc-text" style="text-align:left;">Enter the quantity you want to add:</p>
          <%= f.input :quantity, input_html: { min: 0, style: "width: 120px;", value: "1" } %>
          <%= f.button :submit, class: "btn btn-main" %>
          <% end %>

        </div>
        <div class="container">
      </div>
    </div>
  </div>
        <div>
          <h2>Leave a review</h2>
          <%= simple_form_for [ @product, @review ] do |f| %>
            <%= f.input :content %>
            <%= f.submit "Submit review", class: "btn btn-main" %>
          <% end %>
          </div>
          <br>
          <br>
          <h2>Reviews:</h2>
          <ul style="list-style: none">
          <% @product.reviews.each do |review| %>
            <div style ="border:1px solid #B8B8B8;padding: 8px;margin-top: 8px">
              <%if review.product.buyers.include? review.user_id %>
                <p style="text-align:right; color:#006600 ">Verified purchase</p>
              <%end%>
              <p><%=current_user.first_name%> said: </p>
            <li><h5> <%= "#{review.content}" %> </h5> </li>
            </div>
          <%end%>
          </ul>
        </div>

