<body> 
  <div class="container">
  <h1 style="margin-top: 16px;">Product Detail Page</h1>
  <div class="product-wrapper">
    <div class="gallery">
      <div class="thumb-row">
        <% @product.photos.each do |photo| %>
        <div class="column">
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        </div>
        <% end %>
      </div>
      <div class="gallery-big-img">
        <img id="expandedImg" src="<%= cl_image_path @product.photos.first.key %>">
      </div>
    </div>
    <div class="card-info">
      <h3><%=@product.name%></h3>
      <h4><%= @product.user.email %></h4>
      <p class= "desc-text"><%= @product.description %></p>
      <p class= "desc-text">Recyclebale packaging will be prepared before pick up.</p>
      <p class="price">Price: <%= number_to_currency @product.price %></p>
      <p>Available Amount: <%= @product.stock_info%> </p>
      <div class="container">
        <h1>Add a new Order</h1>
        <div class="product-wrapper">
          <%= simple_form_for([@product, @order]) do |f| %>
          <p>Enter the quantity you want to add:</p>
          <%= f.input :quantity, input_html: { min: 0 } %>
          <%= f.button :submit, class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
        <div>
          <h2>Leave a review</h2>
          <%= simple_form_for [ @product, @review ] do |f| %>
            <%= f.input :content %>  
            <%= f.submit "Submit review", class: "btn btn-primary" %>
          <% end %>
          </div>
          <br>
          <br>
          <h2>Reviews:</h2>
          <ul style="list-style: none">
          <% @product.reviews.each do |review| %>
            <div style ="border:1px solid #B8B8B8;padding: 8px;margin-top: 8px">
              <%if review.product.buyers.include? review.user_id %>
              <p style="text-align:right; color:#006600 ">Verified purchase</p>
            <li><h5> <%= "#{review.content}" %> </h5> </li>
            </div>
            <%end%>
          <%end%>
          </ul>
        </div>